node_modules
dist
.env
.env.local
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.vscode
.idea
coverage
*.test.ts
*.test.js
*.spec.ts
*.spec.js
jest.config.js
docs
.DS_Store
bun.lock
bunfig.toml
pnpm-lock.yaml
.eslintrc*
.prettierrc*




